<%= t 'login_with' %>

<% @providers.each do |provider| %>
  <div class="provider-box">
    <a href=<%= "/auth/#{provider.name}" %>>
      <%= image_tag provider.logo_url, class: 'provider_img' %>
    </a>
  </div>
<% end %>
